#MailDotComAboutDialog
{
    padding: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    color: #000000;
}


#MailDotComImage
{
    list-style-image: url("chrome://maildotcom/skin/MailDotCom.png");
    margin-bottom: 9px;
}


#MailDotComName
{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 9px;
}


#MailDotComVersion
{
    color: #909090;
    margin-bottom: 3px;
}

#MailDotComDescription
{
  color: #404040;
}


#MailDotComCreatorLabel
{
    border-top: 2px solid #C0C0C0;
    padding: 5px 0px 3px 0px;
    margin-top: 3px;
    font-weight: bold;
}

#MailDotComContributorLabel
{
    padding: 5px 0px 3px 0px;
    margin-top: 3px;
    font-weight: bold;
}

.MailDotComCreatorText
{
    /*margin-left: 45px;*/
    margin-top: 10px; /*3px;*/
    margin-left: 5px;
}


.MailDotComContributorText
{
   /* margin-left: 45px;*/
   margin-top: 10px;
}



#LionImage
{   
    margin-left: 20px;
    list-style-image: url("chrome://maildotcom/skin/Dragon.png");
    
}


#flagImage
{
    margin-left: 20px;
    list-style-image: url("chrome://maildotcom/skin/flags.png");
}

.flag/*world*/
{
     -moz-image-region: rect(0px, 32px, 32px, 0px)
}


.flag[value="0"] /*italy*/
{
    -moz-image-region: rect(0px, 64px, 32px, 32px)
}

.flag[value="1"]/*spain*/
{
     -moz-image-region: rect(0px, 96px, 32px, 64px)
}

.flag[value="2"]/*france*/
{
     -moz-image-region: rect(0px, 128px, 32px, 96px)
}

.flag[value="3"]/*germany*/
{
     -moz-image-region: rect(0px, 160px, 32px, 128px)
}

.flag[value="4"]/*catalan*/
{
     -moz-image-region: rect(0px, 192px, 32px, 160px)
}


#MailDotComHomePage
{
    text-align: right;
    color: #0000FF;
    text-decoration: underline !important;
    cursor: pointer;
    margin-top: 30px;
}
