radio[pane] 
{
    list-style-image: url("chrome://messenger/skin/preferences/mail-options.png"); 
}

radio[pane=paneServers]
{
	-moz-image-region: rect(0px, 32px, 32px, 0px)
}

radio[pane=paneGeneral]
{
    -moz-image-region: rect(0px, 192px, 32px, 160px)
}

radio[pane=paneDomains]
{
	-moz-image-region: rect(0px, 64px, 32px, 32px)
}


radio[pane=paneLogging]
{
    -moz-image-region: rect(0px, 96px, 32px, 64px)
}



