.text
{
    font-size: small;
}

.textBox
{
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.listbox
{
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #7f7c7c;
}
