/*---------must remove---------*/
.chromeclass-toolbar
{
  display: -moz-box ! important;
}
/*-----------*/

radio[pane] 
{
    list-style-image: url("chrome://messenger/skin/preferences/mail-options.png"); 
    -moz-appearance: none;
    border: 1px solid transparent;
    background-color: transparent;
    margin: 1px;
}

radio[pane=ServersPanel]
{
	-moz-image-region: rect(0px, 32px, 32px, 0px)
}


radio[pane=DomainsPanel]
{
	-moz-image-region: rect(0px, 64px, 32px, 32px)
}


radio[pane=LoggingPanel]
{
	-moz-image-region: rect(0px, 96px, 32px, 64px)
}
