.listText
{
    font-size: 10pt;
}


treechildren::-moz-tree-image(POPImage)
{
    width: 17px;
    margin-right: 5px;
    list-style-image: url("chrome://web-mail/skin/popIcon.png");
}


treechildren::-moz-tree-image(SMTPImage)
{
    width: 17px;
    height: 18px;
    margin-right: 5px;
    list-style-image: url("chrome://web-mail/skin/smtpIcon.png");
}


treechildren::-moz-tree-image(IMAPImage)
{
    width: 17px;
    height: 18px;
    margin-right: 5px;
    list-style-image: url("chrome://web-mail/skin/imapIcon.png");
}


treechildren::-moz-tree-image(noDomainImage)
{
    width:16px;
    margin-left: 5px;
    margin-right: 5px;
    list-style-image: url("chrome://web-mail/skin/SmallCross.png");
}


treechildren::-moz-tree-image(DomainImage)
{
    width:16px;
    margin-left: 5px;
    margin-right: 5px;
    list-style-image: url("chrome://web-mail/skin/worldIcon.png");
}

treechildren::-moz-tree-indentation
{
     width:30px;
}
