.text
{
    font-size: 10pt;
    border-style: hidden;
    background-color: #FCFCFE;
}

.txtStatus
{
    text-align: center;
    font-size:  12pt;
    color: #000000;
}

#iconMessage
{
    list-style-image: url("chrome://web-mail/skin/Message.png");
}

.information
{
    margin-top: 15px;
    border: 1px solid black;
    background-color: #FFFFCC;
    padding: 5px;
}



/* status indicators*/
#colourStatus
{
    list-style-image: url("chrome://web-mail/skin/StatusColour.png")
}


/* red - error*/
.status[value="-1"]
{
    -moz-image-region: rect(0px 80px 20px 60px);
}

/* grey - off*/
.status[value="0"]
{
    -moz-image-region: rect(0px 20px 20px 0px);
}


/* amber - waiting*/
.status[value="1"]
{
    -moz-image-region: rect(0px 40px 20px 20px);
}


/* green - go */
.status[value= "2"]
{
    -moz-image-region: rect(0px 60px 20px 40px);
}
