.accountWizard
{
    font-size: small;    
}

#iconMessage
{
    list-style-image: url("chrome://web-mail/skin/Message.png");
}


.information
{
    margin-top: 15px;
    border: 1px solid black;
    background-color: #FFFFCC;
    padding: 5px;
}
