#header 
{ 
    background-repeat: no-repeat;
    background-position: left top;
    background-image: url(images/misc/webmail.png);! important; 
    width: 300px;
    background-color: transparent;
    min-height: 75px;
    margin-left: 70px;
}


#title
{
	font-family: Times New Roman, Times, serif;
	font-style: italic;
	font-weight: normal;
	line-height: 8pt;
	font-size: 15pt;
	margin-top :10pt;
}

#WebMailContent 
{
	margin-left: 30pt;
	margin-right: 30pt;
	font-size: 12pt;
	text-align: justify;
	line-height: 17pt;
	font-family: Times New Roman, Times, serif ! important;
}

#WebMailIndex
{
    margin-left: 20pt;
    margin-right: 140pt;
	font-size: 12pt;
	text-align: justify;
	line-height: 17pt;
	font-family: Times New Roman, Times, serif ! important;
}
  
  

#navbar 
{
	font-family: Times New Roman, Times, serif ! important;
	font-size: 13pt ! important;
	color: rgb(0, 0, 0) ! important;
	margin-left: 100pt;
}

#navbar ul 
{
	position: relative;
	display: inline;
}

#navbar ul li 
{
	margin-right: 5pt;
	margin-left: 5pt;
	font-style: italic;
	font-weight: lighter;
	display: inline ! important;
	margin-bottom: 10pt;
}

#navbar ul li a 
{
	text-decoration: none ! important;
	color: rgb(0, 0, 1) ! important;
}

#navbar ul li a:hover 
{
	color: rgb(102, 0, 204) ! important;
}


#extensiontable 
{
	margin-left: auto;
	margin-right: auto;
}

#extensiontable td 
{
	padding: 10px;
}


#main-content-no-nav 
{
	margin-top: 0em;
}

body 
{ 
    background-color: rgb(255, 255, 255);
}

#footer 
{ 
    border: 1px dashed rgb(204, 204, 204);
    padding-left: 4px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 435px;
    margin-top: 100px;
}
    
#footer-text 
{ 
    margin-left: 170px;
    margin-top: 50px;
}
    
    
#whatsup 
{ 
    margin-left: auto;
    margin-right: auto;
    font-family: Arial,Helvetica,sans-serif;
    position: relative;
    margin-top: 40px;
    width: 40em;
}

.whatsupRow {  }

.whatsupOdddRow 
{ 
    border-top: 1px solid rgb(153, 153, 153);
    margin-top: 10px;
    padding-top: 10px;
}

.whatsupDate 
{ 
    float: left;
    position: relative;
    text-align: left;
}

.whatsupNote 
{ 
    margin-left: 8em;
}


#domaintable 
{ 
    border-spacing:0px;
    border-style: solid;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
    width: 41em;
    margin-top: 20px;
}

#domaintable th 
{ 
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    text-align: center;
    background-color: rgb(204, 204, 255);
    font-family: Arial,Helvetica,sans-serif;
}

#domaintable td 
{ 
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    font-family: Arial,Helvetica,sans-serif;
}

.domainExtHeader 
{ 
    text-align: center;
    width: 10em;
}

.domainName 
{ 
    font-size: 26px;
}


.domainData 
{ 
    padding: 4px 5px;
    display: block;
    float: left;
    width: 8em;
}



#mailLogo 
{ 
    margin-top: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.mailImage 
{ 
    margin-top: 20px;
    position: relative;
    margin-left: 70px;
    margin-right: 70px;
}
