#prefsWindow
{
    width: 45em; 
    height: 38em;
}

.viewSelector 
{
    border-bottom: 2px groove ThreeDFace;
    margin: 0px;
    -moz-padding-start: 10px;
    background-color: -moz-Field;
    color: -moz-FieldText;
}


.viewButtonIcon 
{
    width: 32px;
    height: 32px;
}

#viewGroup radio 
{
    margin: 0px 1px 0px 1px;
    padding: 1px 3px 1px 3px;
    min-width: 4.5em;
    list-style-image: url("chrome://yahoo/skin/Yahoo-Prefs-Window.png");
    -moz-binding: url("chrome://yahoo/content/Yahoo-Prefs.xml#viewbutton");
    -moz-box-orient: vertical;
    -moz-box-align: center;
    -moz-appearance: none;
}


#viewGroup radio:hover 
{
    background-color: #E0E8F6;
    color: black;
}


#viewGroup radio[selected="true"] 
{
    background-color: #C1D2EE;
    color: black; 
}


radio#rAccounts
{
    -moz-image-region: rect(0px, 32px, 32px, 0px)
}


radio#rDomains
{
    -moz-image-region: rect(0px, 64px, 32px, 32px)
}
