#tabsAccount
{
    margin-top:15px;
    margin-left: 5px;
    margin-right: 5px; 
}


.radio
{
    margin-top: 5px;
    margin-left: 25px; 
}


#labelFolders
{
    margin-left: 10px;
}


#boxFolders
{
    margin-top:5px;
    margin-left: 75px;
    margin-right: 75px; 
    margin-bottom: 25px;
}


#listFolders
{
    height: 10em; 
    width : 20em;
}


.listItem
{
    padding: 4px 8px 4px 4px;
    min-height: 35px !important;
    border-bottom: 1px dotted #C0C0C0;
}


.listItem[selected="true"] 
{
    -moz-user-focus: normal;
    background-image: url("chrome://mozapps/skin/shared/itemSelected.png");
}

#customFolderImage
{
    list-style-image: url("chrome://yahoo/skin/custom.png");
    margin-left: 5px;
}


#folderName
{
    margin-left: 10px; 
}

#imageError
{
    list-style-image: url("chrome://yahoo/skin/error.png");
}

#labelError
{
    font-weight: bold;
	font-size: medium;
    font-style: italic;
    line-height: 2em;
}

#imageNA
{
    list-style-image: url("chrome://yahoo/skin/information.png");
}
