.listItem
{
    padding: 4px 8px 4px 4px;
    min-height: 35px !important;
    border-bottom: 1px dotted #C0C0C0;
}


.listItem[selected="true"] 
{
    -moz-user-focus: normal;
    background-image: url("chrome://mozapps/skin/shared/itemSelected.png");
}

.details
{
    margin-left: 15px;    
}


.emailAddress
{
    font-style: italic;
	font-size: medium;
}

.folderBox
{
    margin-left: 10px;    
}


#folderLabel
{
    margin-right: 15px;
}

#personImage
{
    list-style-image: url("chrome://yahoo/skin/person.png");
}


#inboxFolderImage
{
    list-style-image: url("chrome://yahoo/skin/inbox.png");
    margin-left: 5px;
}

#spamFolderImage
{
    list-style-image: url("chrome://yahoo/skin/spam.png");
    margin-left: 5px;
}

#customFolderImage
{
    list-style-image: url("chrome://yahoo/skin/custom.png");
    margin-left: 5px;
}

