#prefsWindow
{
    width: 45em; 
    height: 36em;
}

radio[pane] 
{
    list-style-image: url("chrome://yahoo/skin/Yahoo-Prefs-Window.png"); 
}

radio[pane=paneAccounts]
{
    -moz-image-region: rect(0px, 32px, 32px, 0px)
}

radio[pane=paneDomains]
{
    -moz-image-region: rect(0px, 64px, 32px, 32px)
}
