#imagePerson
{
    margin-left: 10px; 
    margin-top: 10px;
    list-style-image: url("chrome://yahoo/skin/person.png");
}



#labelAddress
{
    margin-left: 10px; 
    margin-top: 20px;
    margin-right:20px;
    font-style: italic;
	font-size: medium;
}


#chkJunkMail
{
    margin-top:15px;
    margin-left: 30px; 
}

#listViewBox
{
    margin-top:10px;
    margin-left: 30px;
    margin-right:25px; 
    margin-bottom: 25px;
}

.listItem
{
    padding: 4px 8px 4px 4px;
    min-height: 20px !important;
    border-bottom: 1px dotted #C0C0C0;
}


.listItem[selected="true"] 
{
    -moz-user-focus: normal;
    background-image: url("chrome://mozapps/skin/shared/itemSelected.png");
}

#customFolderImage
{
    list-style-image: url("chrome://yahoo/skin/custom.png");
    margin-left: 5px;
}
