#GMailAboutDialog
{
    padding: 0px 0px 0px 0px;
    background-color: #FFFFFF;
    color: #000000;
}


#GMailName
{
    font-size: x-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 9px;
}

#LiliumImage
{   
    margin-left: 20px;
    list-style-image: url("chrome://gmail/skin/Lilium.png");
}

#GMailImage
{
    list-style-image: url("chrome://gmail/skin/GMail.png");
    margin-bottom: 9px;
}


#GMailVersion
{
    color: #909090;
    margin-bottom: 3px;
}

#GMailDescription
{
    color: #404040;
}


#GMailCreatorLabel
{
    border-top: 2px solid #C0C0C0;
    padding: 5px 0px 3px 0px;
    margin-top: 3px;
    font-weight: bold;
}

#GMailContributorLabel
{
    padding: 5px 0px 3px 0px;
    margin-top: 3px;
    font-weight: bold;
}

.GMailCreatorText
{
    margin-top: 10px; 
    margin-left: 5px;
}


.GMailContributorText
{
    margin-top: 10px;
}


#flagImage
{
    margin-left: 20px;
    list-style-image: url("chrome://gmail/skin/flags.png");
}


.flag/*world*/
{
     -moz-image-region: rect(0px, 32px, 32px, 0px)
}


.flag[value="0"] /*italy*/
{
    -moz-image-region: rect(0px, 64px, 32px, 32px)
}

.flag[value="1"]/*spain*/
{
     -moz-image-region: rect(0px, 96px, 32px, 64px)
}

.flag[value="2"]/*france*/
{
     -moz-image-region: rect(0px, 128px, 32px, 96px)
}

.flag[value="3"]/*germany*/
{
     -moz-image-region: rect(0px, 160px, 32px, 128px)
}


.flag[value="4"]/*Catalan*/
{
     -moz-image-region: rect(0px, 192px, 32px, 160px)
}

.flag[value="5"]/*Netherlands*/
{
     -moz-image-region: rect(0px, 224px, 32px, 192px)
}

#GMailHomePage
{
    text-align: right;
    color: #0000FF;
    text-decoration: underline !important;
    cursor: pointer;
    margin-top: 30px;
}
