radio[pane] 
{
    list-style-image: url("chrome://gmail/skin/GMail-Prefs.png"); 
}

radio[pane=panePOP]
{
    -moz-image-region: rect(0px, 32px, 32px, 0px)
}

radio[pane=paneIMAP]
{
	-moz-image-region: rect(0px, 64px, 32px, 32px)
}


radio[pane=paneSMTP]
{
    -moz-image-region: rect(0px, 96px, 32px, 64px)
}

radio[pane=paneDomains]
{
    -moz-image-region: rect(0px, 128px, 32px, 96px)
}
